@charset "utf-8";
/*------------------------------------------------------------------------------
Name: sverigesradio.se
Version: 2010-03-28 12.10
Author: Hans Mogren
Description:
------------------------------------------------------------------------------*/
#srPlayer {
	display: none !important;
}
