@charset "utf-8";
/*------------------------------------------------------------------------------
Name: theguardian.com
Version: 2013-06-02
Author: Hans Mogren
Description:
------------------------------------------------------------------------------*/
.identity-gp-notice,
#sub-header,
.soulmates-search,
.share-links {
	display: none !important;
}