@charset "utf-8";
@import url(../user.css);
/*------------------------------------------------------------------------------
Name: wikpedia.org
Version: 2013-07-29
Author: Hans Mogren
Description:
------------------------------------------------------------------------------*/
#mw-content-text p,
#mw-content-text dl,
#mw-content-text ol,
#mw-content-text ul {
	max-width: 45em !important;
}
#content {
	background-color: #E9E4D6 !important;
}
div.vectorTabs li.selected {
	background-color: transparent !important;
	background-image: linear-gradient(to bottom, transparent 50%, #E9E4D6) !important;
}